/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
  background-color: #f1f2f6;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}
