<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container shadow main" *ngIf="!isFetching">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-1">
          <h3 class="title-row">Rank</h3>
        </div>
        <div class="col-md-6">
          <h3 class="title-row">Team</h3>
        </div>
        <div class="col-md-1">
          <h3 class="title-row">Win</h3>
        </div>
        <div class="col-md-1">
          <h3 class="title-row">Draw</h3>
        </div>
        <div class="col-md-1">
          <h3 class="title-row text-center">Lose</h3>
        </div>
        <div class="col-md-1">
          <h3 class="title-row text-center">Goals</h3>
        </div>
        <div class="col-md-1">
          <h3 class="title-row text-center">Points</h3>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center align-items-center team-row" *ngFor="let team of teams">
        <div class="col-md-1">
          <h3 class="">{{team.place}}</h3>
        </div>
        <div class="col-md-6">
          <img class="team-img" [src]="team.logo" alt="team-pick-img">
          <h3 class="team-name">{{team.name}}</h3>
        </div>
        <div class="col-md-1">
          <h3 class="text-center">{{team.win}}</h3>
        </div>
        <div class="col-md-1">
          <h3 class="text-center">{{team.draw}}</h3>
        </div>
        <div class="col-md-1">
          <h3 class="text-center ">{{team.lose}}</h3>
        </div>
        <div class="col-md-1">
          <h3 class="text-center">{{team.goals_for}}:{{team.goals_against}}</h3>
        </div>
        <div class="col-md-1">
          <h3 class="text-center title-row">{{team.points}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

