#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.main {
  background-color: #ffffff;
  margin-top: 2rem;
  width: 50%;
  padding: 30px;
  /*background-repeat: no-repeat;*/
  /*background-position: 120% 45%;*/
  /*background-size: 45%;*/
  /*background-image: url('../../assets/images/league-cup.svg');*/
}

.title-row {
  font-weight: 700;
}

hr {
  padding-top: 0;
  background-color: #2ed573;
}

.team-row {
  padding: 0.5rem;
}

.team-img {
  height: 42px;
  width: auto;
  display: inline-block;
}

.team-name {
  font-weight: 500;
  display: inline-block;
  margin: 0 0 0 0.8rem;
}

h3 {
  line-height: 42px;
  font-size: 18px;
  margin-bottom: 0;
}

.team-row:hover {
  background-color: #f8f9fa;
}
