#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.main {
  background-color: #ffffff;
  margin-top: 2rem;
  width: 50%;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: 120% 45%;
  background-size: 45%;
  background-image: url('../../assets/images/brand-auth.svg');
}
