<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container shadow main">
      <h1 class="font-weight-bold">Bet Matches - Rules</h1>
      <!--      <h2>-->
      <!--        Create account.-->
      <!--        <br>Invite friends.-->
      <!--        <br>Have fun with your mates during matches!-->
      <!--      </h2>-->

      <ol>
        <li>
          First you need to do is to <a routerLink="/auth">create an account.</a>
          <br>
          To create an account you just need to have email address, choose an username and type password. It is simple!
        </li>
        <li>
          Account created? Now it is a time for having fun. We strongly recommend creating your own league or join your
          friend league.
          <br> From that time, you will be having fun with your mates.
        </li>
        <li>
          Before football matches will start, remember to bet winning team and best scorer. Be aware that after matches
          will start you will no longer be able to bet these things.
        </li>
        <li>
          Last but not least: Bet Matches! Remember, you can only bet matches before it starts. Later you will not be
          able to bet it or change your bets.
        </li>
      </ol>
      The goal of this game is to collect points. You can achieve points when you bet correctly. These are the rules:
      <ul>
        <li>
          3 points - you get it when you bet exact number of goals scored by both team.
        </li>
        <li>
          1 point - you get it when you bet correctly wining team or draw.
        </li>
        <li>
          0 point - you are unlucky. You bet it completely wrong.
        </li>
      </ul>
      How it really looks like? Let's suppose that there is a match. Real Madrid - FC Barcelona.
      <ul>
        <li>
          You bet 2:1.
        </li>
        <li>
          Your Friend #1 bet: 1:0.
        </li>
        <li>
          Your Friend #3 bet 1:3.
        </li>
      </ul>

      Now, let's imagine that actual result is: Real Madrid 1:0 FC Barcelona.
      <ul>
        <li>
          You will get 1 point because you bet winning team correctly.
        </li>
        <li>
          Your Friend #1 will get 3 points because he bet exact result.
        </li>
        <li>
          Your Friend #2 will not get any points. He or she was totally wrong.
        </li>
      </ul>

      <br> What is more - there is possibility to achieve extra points. They are added at the end of the tournament.
      <ul>
        <li>
          15 points - when you bet correctly winning team.
        </li>
        <li>
          15 points - when you bet correctly best scorer.
        </li>
      </ul>
      You see? It is very simple. Start now!
    </div>

  </div>
</div>
