<div class="container main shadow" *ngIf="isBestTeamBet && !editMode">
  <h1>Your bet best team</h1>
  <div class="team-name">
    <img class="player-img" [src]="betTeam.logo">
    <h2>{{betTeam.name}}</h2>
  </div>

  <div class="team-info">
    <h3><span class="font-weight-bold">Place: </span>{{betTeam.place}}</h3>
  </div>

  <button type="button" class="btn change-btn" *ngIf="isAbleToChange()"
          (click)="onChangeBetBestTeam()">Change
  </button>
</div>

<div class="bet-team-container text-center" *ngIf="editMode && !isFetching">
  <h2>Bet your best team</h2>
  <button type="button"
          class="shadow d-inline-block team-box border-0" *ngFor="let team of teams"
          (click)="onSaveBetTeam(team)"
          [ngClass]="betTeam != null && betTeam.id != null && betTeam.id === team.id ? 'bet-team-pick': ''">
    <img class="team-pick-img" [src]="team.logo" alt="team-pick-img">
    <h1 class="text-center team-pick-name">{{team.name}}</h1>
  </button>
</div>


