<div class="container main shadow" *ngIf="isBestScorerBet && !editMode && !isFetching">
  <h1>Your bet best scorer</h1>
  <div class="player-name">
    <img class="player-img" [src]="'https://media.api-sports.io/football/players/'+ betPlayer.id_rapid_api +'.png'"
         alt="player-img">
    <h2>{{betPlayer.first_name}} {{betPlayer.last_name}}</h2>
  </div>

  <div class="player-info">
    <h3 class="nationality-club-label"><span class="font-weight-bold mr-2">Team: </span> {{betPlayer.team.name}}
      <img class="nationality-club-img" [src]="betPlayer.team.logo">
    </h3>
    <h3 class="nationality-club-label"><span
      class="font-weight-bold mr-2">Nationality: </span> {{betPlayer.nationality}}
      <img class="nationality-club-img" [src]="getFlag(betPlayer.nationality)">
    </h3>

    <h3><span class="font-weight-bold">Age: </span>{{betPlayer.age}}</h3>
    <h3><span class="font-weight-bold">Position: </span>{{betPlayer.position}}</h3>
    <h3><span class="font-weight-bold">Goals: </span>{{betPlayer.goals}}</h3>
  </div>

  <button type="button" class="btn change-btn" *ngIf="isAbleToChange()"
          (click)="onChangeBetBestScorer()">Change
  </button>
</div>

<div class="best-scorer-container" *ngIf="editMode">
  <div class="justify-content-center align-items-center teams-header">
    <div class="shadow team-pick">
      <div class="list-group list-group-flush list-group-horizontal-md">
        <a class="list-group-item list-group-item-action justify-content-between align-items-center border-0"
           style="cursor: pointer"
           *ngFor="let team of teams; index as i"
           (click)="onTeamSelected(i)"
           [ngClass]="teamSelected === team ? 'team-selected': ''">
          <img [src]="team.logo"> {{team.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="container players-container" *ngIf="isTeamSelected">
    <div class="shadow players-by-position" *ngFor="let playerPosition of playersPosition">
      <h4 class="player-position">{{playerPosition}}S</h4>
      <div class="row player-title-row">
        <div class="col-md-6 player-pick">
          Name
        </div>
        <div class="col-md-3 player-pick">
          Nationality
        </div>
        <div class="col-md-2 player-pick">
          Age
        </div>
        <div class="col-md-1 player-pick">
        </div>
      </div>
      <div class="row player-row" *ngFor="let player of getPlayers(playerPosition); index as i">
        <div class="col-md-6 player-pick">
          <img [src]="'https://media.api-sports.io/football/players/'+ player.id_rapid_api +'.png'" alt="player-img"
               class="player-img">
          {{player.first_name}} {{player.last_name}}
        </div>
        <div class="col-md-3 player-pick">
          <img [src]="getFlag(player.nationality)" alt="player-flag" class="player-pick-flag">{{player.nationality}}
        </div>
        <div class="col-md-2 player-pick">
          {{player.age}}
        </div>
        <div class="col-md-1 player-pick">
          <a class="btn player-pick-btn" type="button" (click)="onSaveBetPlayer(player)">Save</a>
        </div>
      </div>
    </div>
  </div>
</div>

