<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container shadow main">
      <form [formGroup]="leagueForm" (ngSubmit)="onSubmit()" class="create-league-form">
        <h1 class="font-weight-bold">Create League</h1>
        <div class="form-group">
          <label for="name">League name</label><input
          type="text"
          id="name"
          placeholder="Enter league name!"
          formControlName="name"
          class="form-control">
          <span
            *ngIf="!leagueForm.get('name').valid && leagueForm.get('name').touched"
            class="help-block">
              <span *ngIf="leagueForm.get('name').errors['required']">This field is required!</span>
          </span>

        </div>
        <div class="form-group">
          <label for="description">Description</label><textarea
          type="text"
          id="description"
          placeholder="Ex. Write rules of your league..."
          formControlName="description"
          class="form-control"
          rows="10"></textarea>
        </div>
        <button class="btn create-btn" type="submit" [disabled]="!leagueForm.valid">Create</button>
      </form>
    </div>
  </div>
</div>
