<div class="bet-matches-container">
  <div class="title-container shadow">
    <h1> Bet Matches</h1>
    <div *ngIf="selectedMatchDay != undefined && matchDays != undefined && !isFetching">
      <mat-form-field class="match-day-selection">
        <mat-label>Select Match Day</mat-label>
        <mat-select [(value)]="selectedMatchDay">
          <mat-option class="match-selection-option-text" value="{{matchDay}}" *ngFor="let matchDay of getMatchDays();">
            Match Day: {{matchDay}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="matches-container">
    <div class="matches-to-bet shadow">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="container" *ngIf="matches.length > 0 && !isFetching">
          <div class="row match-row justify-content-between"
               *ngFor="let match of getMatchesFromMatchDay(selectedMatchDay)">
            <div class="col-md-10">
              <div class="team-first-match-row">
                <h3>{{ match.team_first.name }}</h3>
                <img [src]="match.team_first.logo">
              </div>
              <div class="match-result-row" *ngIf="match.status === 'FINISHED' || match.status === 'LIVE'">
                <h3 [className]="match.status === 'LIVE' ? 'live-match-result' : ''"> {{ match.team_first_score}}</h3>
                <h3 [className]="match.status === 'LIVE' ? 'live-match-result' : ''"> : </h3>
                <h3 [className]="match.status === 'LIVE' ? 'live-match-result' : ''"> {{ match.team_second_score}}</h3>
              </div>

              <div class="match-to-bet-row" *ngIf="isNotStartedOrPostponed(match.status)">
                <input type="number"
                       class="form-control"
                       id="{{match.id}}-team_first"
                       name="{{match.id}}-team_first"
                       ngModel
                       required
                       pattern="^[1-9]+[0-9]*$">
                <input type="number"
                       class="form-control"
                       id="{{match.id}}-team_second"
                       name="{{match.id}}-team_second"
                       ngModel
                       required
                       pattern="^[1-9]+[0-9]*$">
              </div>
              <div class="team-second-match-row">
                <img [src]="match.team_second.logo">
                <h3>{{ match.team_second.name }}</h3>
              </div>
              <div class="live-indicator" *ngIf="match.status === 'LIVE'">
                <div></div>
              </div>
            </div>
            <div class="col-md-2 ">
              <a href="#details-{{match.id}}" class="btn details-btn" data-toggle="collapse"
                 role="button">details</a>
            </div>

            <div class="collapse p-1 match-details-container" id="details-{{match.id}}" style="width: 100%;">
              <hr>
              <div class="match-info">
                <img src="assets/images/date.png" class="d-inline-block" alt="date">
                <h3> {{match.match_date | date:'EEEE, MMMM d, h:mm a'}}</h3>
              </div>

              <div class="match-info">
                <img src="assets/images/stadium.png" class="d-inline-block"
                     alt="stadium">
                <h3>{{match.stadium.name}}</h3>
              </div>

              <div class="match-info">
                <img src="assets/images/fan.png" class="d-inline-block"
                     alt="fan">
                <h3>{{match.stadium.capacity}}</h3>
              </div>

              <h3 class="match-prediction-title">Match Prediction</h3>

              <div class="match-prediction-progress">
                <div [style.width.%]="match.match_prediction.prediction_team_first_win * 100"
                     class="match-progress-detail">
                  <p>{{match.team_first.name}}</p>
                  <div class="progress-bar progress-bar-animated prediction-team-first" role="progressbar">
                    {{+match.match_prediction.prediction_team_first_win * 100 | number:'2.0-1'}}%
                  </div>
                </div>
                <div [style.width.%]="match.match_prediction.prediction_draw * 100" class="match-progress-detail">
                  <p>Draw</p>
                  <div class="progress-bar progress-bar-animated prediction-draw" role="progressbar">
                    {{+match.match_prediction.prediction_draw * 100 | number:'2.0-1'}}%
                  </div>
                </div>
                <div [style.width.%]="match.match_prediction.prediction_team_second_win * 100"
                     class="match-progress-detail">
                  <p>{{match.team_second.name}}</p>
                  <div class="progress-bar progress-bar-animated prediction-team-second"
                       role="progressbar">
                    {{+match.match_prediction.prediction_team_second_win * 100 | number:'2.0-1'}}%
                  </div>
                </div>
              </div>

              <h3 class="match-result-title">Result Prediction</h3>
              <div class="match-result-info">
                <img [src]="match.team_first.logo">
                <h3> {{match.match_prediction.prediction_team_first_goals}}</h3>
                <h3>:</h3>
                <h3> {{match.match_prediction.prediction_team_second_goals}}</h3>
                <img [src]="match.team_second.logo">
              </div>
              <hr>
            </div>
          </div>
          <div class="row buttons-row" *ngIf="!matchDayPlayed">
            <button type="submit" class="btn save-btn">Save</button>
            <button type="button" class="btn clear-btn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>

    <div class="user-bets shadow" *ngIf="matches.length > 0 && !isFetching">
      <div class="row justify-content-between title-user-bet-row">
        <h3> Your bets: </h3>
        <h4 class="points-show">{{pointsInMatchDay[selectedMatchDay - 1]}}pts</h4>
      </div>
      <hr>
      <div class="row justify-content-between bet-match-row"
           *ngFor="let match of getMatchesFromMatchDay(selectedMatchDay);">
        <div class="bet-match-result-info">
          <img [src]="match.team_first.logo">
          <h3> {{getBetTeamFirstScore(match.id)}}</h3>
          <h3>:</h3>
          <h3> {{getBetTeamSecondScore(match.id)}}</h3>
          <img [src]="match.team_second.logo">
        </div>
        <div class="bet-match-result-icon">
          <img [src]="getBetMatchResultIcon(match)" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
