<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container shadow main">
      <div>
        <h1 *ngIf="isLoginMode">Login</h1>
        <h1 *ngIf="!isLoginMode">Sign Up</h1>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
      </div>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="form-group" *ngIf="!isLoginMode">
          <label for="email">E-mail</label>
          <input type="email"
                 id="email"
                 class="form-control"
                 ngModel
                 name="email"
                 required
                 email>
        </div>
        <div class="form-group">
          <label for="username" *ngIf="!isLoginMode">Username</label>
          <label for="username" *ngIf="isLoginMode">Username or E-mail</label>
          <input type="username"
                 id="username"
                 class="form-control"
                 ngModel
                 name="username"
                 required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 ngModel
                 name="password"
                 required
                 minlength="6">
        </div>
        <button class="btn btn-sign" type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign up' }}</button>
        <div class="switcher">
          <span class="dotted-underline">{{isLoginMode ? 'Not a user?' : 'Has an account?' }}</span>
          <button class="btn btn-switcher" (click)="onSwitchMode()"
                  type="button"> {{isLoginMode ? 'Create account' : 'Login!' }}</button>

        </div>
      </form>
    </div>
  </div>
</div>
