.main {
  background-color: #ffffff;
  margin-top: 2rem;
  width: 40%;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: 90% 60%;
  background-size: 40%;
  background-image: url('../../assets/images/brand-auth.svg');
}

input {
  width: 50%;
}

h1 {
  font-weight: 700;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn-sign {
  margin: 0.5rem 0px 1rem 0px;
  background: #2ed573;
  display: inline-block;
  position: relative;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  z-index: 0;
  border-radius: 5px;
  font-size: 20px;
  width: 50%;
  outline: none;
}

.btn-sign:hover {
  font-weight: 600;
  color: #ffffff;
  background-color: #2ac56a;
}

.switcher {
  display: block;
  margin-top: 1.5rem;
}

.btn-switcher {
  display: inline-block;
  background: #2f3542;
  position: relative;
  padding: 0.2rem 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  z-index: 0;
  border-radius: 5px;
  font-size: 10px;
  margin: 0px 1.2rem;
}

.dotted-underline {
  border-bottom: 1px dotted;
}
