<div class="leagues-container">
  <div class="leagues-menu shadow">
    <h2>Your leagues</h2>
    <div class="buttons-container">
      <a class="btn join-btn"
         href="#"
         routerLink="/league/join"
         routerLinkActive="active">
        Join League</a>
      <a class="btn create-btn"
         href="#"
         routerLink="/league/create"
         routerLinkActive="active">
        Create League
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-leagues-list class="league-list-container"></app-leagues-list>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
