nav {
  background-color: #2f3542;
  padding: 30px;
}

.brand {
  line-height: 48px;
  font-weight: 600;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.brand img {
  height: 48px;
  margin: 0 10px 0px 0px;
  width: auto;
}

.brand img path {
  fill: white;
}

.brand:hover {
  color: white;
}

nav li a {
  color: white;
}

nav li a:hover {
  color: #ced6e0;
}

li {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  font-size: 1.1rem;
}

nav li.active a {
  color: #2ed573;
}

nav li a {
  font-weight: bold;
}

.account-manager {

}

.account-manager-img {
  height: 40px;
  margin: 4px 10px 0px 0px;
  width: auto
}

.extended-item {
  color: #57606f !important;
  line-height: 32px;
  font-size: 18px;
}

a.extended-item:hover {
  background-color: #2ed573;
  color: #ffffff !important;
}

.dropdown-menu-account {
  padding: 20px;
  font-size: 1.1rem;
}

.account-img {
  height: 20px;
  margin: 0 10px 0px 0px;
  width: auto;
}

.rules-item {
  font-size: 0.85rem;
  margin: 0 1.2rem;
}

.points-show {
  background-color: #2ed573;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.username-show {
  font-weight: 600;
  font-size: 18px;
  margin: 4px 0px 10px 0;
}

.username-points-li-show {
  color: #ffffff;
  margin: 0 15px 0 0 !important;
  text-align: right;
}

.dotted-underline {
  border-bottom: 1px dotted;
}

.dropdown-menu-bet {
  font-size: 1.1rem;
}

.dropdown-item-img {
  height: 32px;
  width: auto;
  margin-right: 0.8rem;
}

.navbar-light .navbar-nav .show > .bet-btn {
  color: #fff;
}
