<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand brand" href="#">
    <img src="assets/images/brand-header.svg" class="d-inline-block align-top" alt="">
    Bet Matches
  </a>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link dropdown-toggle bet-btn" href="#" id="navBet" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Bet
        </a>
        <div class="dropdown-menu dropdown-menu-bet" aria-labelledby="navbarDropdown">
          <a class="dropdown-item extended-item" href="#" routerLink="/bets/matches">
            <img
              src="../../assets/images/soccer.png"
              alt="ball"
              class="dropdown-item-img">
            Matches
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item extended-item" href="#" routerLink="/bets/best-scorer">
            <img
              src="../../assets/images/brand.svg"
              alt="ball"
              class="dropdown-item-img">
            Best Scorer
          </a>
          <a class="dropdown-item extended-item" href="#" routerLink="/bets/best-team">
            <img
              src="../../assets/images/team.svg"
              alt="ball"
              class="dropdown-item-img">
            Best Team
          </a>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" href="#" routerLink="/leagues">My Leagues</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/teams">Teams</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/standings">Standings</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/rules">Rules</a>
      </li>

    </ul>

    <div class="my-2 my-lg-0">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item username-points-li-show" *ngIf="isAuthenticated">
          <p class="username-show">{{user.username}}</p>
          <p class="points-show">{{user.points}} pts.</p>
        </li>
        <li class="nav-item dropdown account-manager" routerLinkActive="active" *ngIf="isAuthenticated">
          <a class="nav-link dropdown" href="#" id="account-manager" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/user.svg" width="30" height="30"
                 class="d-inline-block align-top account-manager-img" alt="">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-account shadow" aria-labelledby="navbarDropdown">
            <p class="extended-item text-center">{{user.username}}</p>
            <p class="extended-item text-center">{{user.email}}</p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item extended-item my-3" routerLink="/auth"
               (click)="onLogout()"><img
              src="assets/images/logout.svg" alt="logout" class="account-img"> Logout</a>
            <a class="dropdown-item extended-item my-3" href="#"> <img
              src="assets/images/settings.svg" alt="logout" class="account-img">Manage account</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item d-inline-block">
              <a class="extended-item rules-item" href="#"><span class="dotted-underline">Help</span></a>
              <a class="extended-item rules-item" href="#"><span
                class="dotted-underline">Privacy</span></a>
              <a class="extended-item rules-item" href="#"><span class="dotted-underline">Terms</span></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

