.league-details-container {
  margin: 0;
}

.form-field {
  width: 100%;
}

.title-row {
  font-weight: bold;
  /*margin: auto;*/
}

h3 {
  line-height: 42px;
  margin: auto;
}

hr {
  padding-top: 0;
  background-color: #2ed573;
}

.league-table-container {
  margin: 1.5rem auto;
}

.league-info, .league-table-container {
  background-color: #ffffff;
  padding: 30px 50px;
}

.user-bet-row {
  padding: 0.2rem 0;
  align-items: center;
}

/*.user-bet-row:hover {*/
/*  background-color: #efefef;*/
/*}*/

.player-team-img {
  height: 42px;
  width: auto;
  display: inline-block;
}

.player-team-name > h2 {
  line-height: 42px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin: 0 0 0 0.5rem;
}

.check-bets-img {
  height: 32px;
  width: auto;
}

/* details */
.points-show {
  background-color: #2ed573;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 1.2rem 0;
  color: #ffffff;
}

.match-row {
  padding: 0.2rem;
}

.team-first-match-row, .team-second-match-row, .match-result-row, .match-to-bet-row, .bet-result {
  display: inline-block;
}

.team-first-match-row > img, h3, .team-second-match-row > img, h3 {
  display: inline-block;
}

.team-first-match-row > img, .team-second-match-row > img {
  height: 32px;
  width: auto;
}

.team-first-match-row > h3, .team-second-match-row > h3 {
  line-height: 32px;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  min-width: 110px;
}

.team-first-match-row {
  margin: 0 1.2rem 0 0;
}

.team-first-match-row > h3 {
  float: left;
  margin: 0 1.2rem 0 0;
}

.team-second-match-row {
  margin: 0 0 0 1.2rem;
}

.team-second-match-row > h3 {
  float: right;
  margin: 0 0 0 1.2rem;
}

.match-result-row > h3 {
  margin: 0 0.5rem;
  font-size: 16px;
  font-weight: 700;
}

.bet-result {
  margin: 0 0 0 1.2rem;
}

.bet-result > img {
  height: 20px;
  width: auto;
}

.arrow-details {
  border: solid #2ed573;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
