<div class="league-details-container">
  <div class="shadow league-info" *ngIf="!isFetching">
    <h1 class="font-weight-bold">{{league.name}}</h1>
    <h3>Code: <span class="font-weight-bold">{{league.id}}</span></h3>
    <mat-form-field class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput disabled rows="4">{{league.description}}</textarea>
    </mat-form-field>
  </div>
  <div class="shadow league-table-container" *ngIf="users.length > 0 && !isFetching">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-1">
        <h3 class="title-row">Place</h3>
      </div>
      <div class="col-md-3">
        <h3 class="title-row">Username</h3>
      </div>
      <div class="col-md-3">
        <h3 class="title-row">Bet Team</h3>
      </div>
      <div class="col-md-3">
        <h3 class="title-row">Bet Player</h3>
      </div>
      <div class="col-md-1">
        <h3 class="title-row text-center">Points</h3>
      </div>
      <div class="col-md-1">
        <h3 class="title-row text-center"></h3>
      </div>
    </div>
    <hr>
    <div class="row user-bet-row" *ngFor="let user of getUsersSorted(users); index as i">

      <div class="col-md-1">
        <h3>{{i + 1}}</h3>
      </div>
      <div class="col-md-3">
        <h3>{{user.username}}</h3>
      </div>
      <div class="col-md-3">
        <div class="player-team-name">
          <img class="player-team-img"
               [src]="getUsersBetTeamLogo(user.betTeam)"
               alt="player-img"
               *ngIf="user.betTeam !== null">
          <h2>{{getUsersBetTeamName(user.betTeam)}}</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="player-team-name">
          <img class="player-team-img"
               [src]="'https://media.api-sports.io/football/players/'+ user.betPlayer.id_rapid_api +'.png'"
               alt="player-img"
               *ngIf="user.betPlayer !== null">
          <h2>{{getUsersBetPlayer(user.betPlayer)}}</h2>
        </div>
      </div>
      <div class="col-md-1">
        <h3 class="text-center font-weight-bold">{{user.points}}</h3>
      </div>
      <div class="col-md-1">
        <a href="#bets-{{user.id}}" class="btn details-btn" data-toggle="collapse"
           role="button" (click)="userSelected(user.id)">
          <i class="arrow-details"></i>
          <!--          <img src="../../../assets/images/check-bets.svg" alt="check-bets" class="check-bets-img">-->
        </a>
      </div>
      <!--      details collapse-->
      <div class="collapse user-bet-details-container" id="bets-{{user.id}}" style="width: 100%;">
        <hr>
        <div class="row justify-content-between">
          <mat-form-field class="match-day-selection">
            <mat-label>Select Match Day</mat-label>
            <mat-select [(value)]="userBetSelectedMatchDay">
              <mat-option class="match-selection-option-text" value="{{matchDay}}"
                          *ngFor="let matchDay of getMatchDays();">
                Match Day: {{matchDay}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--          <h3 class="points-show">{{userBetSelectedMatchDay}}pts</h3>-->
        </div>
        <div class="row match-row justify-content-center align-items-center"
             *ngFor="let match of getMatchesFromMatchDay(userBetSelectedMatchDay)">
          <div class="team-first-match-row">
            <h3>{{ match.team_first.name }}</h3>
            <img [src]="match.team_first.logo">
          </div>
          <div class="match-result-row" *ngIf="showMatchResult(match)">
            <h3> {{ getUserBetMatchTeamFirstScore(match, user.id)}}</h3>
            <h3> : </h3>
            <h3> {{ getUserBetMatchTeamSecondScore(match, user.id) }}</h3>
          </div>
          <div class="match-result-row" *ngIf="!showMatchResult(match)">
            <h3> ? </h3>
            <h3> : </h3>
            <h3> ? </h3>
          </div>
          <div class="team-second-match-row">
            <img [src]="match.team_second.logo">
            <h3>{{ match.team_second.name }}</h3>
          </div>
          <div class="bet-result">
            <img [src]="getBetMatchResultIcon(user.id,  match)">
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

