<div class="teams-container">
  <div class="justify-content-center align-items-center teams-header">
    <div class="shadow team-pick">
      <div class="list-group list-group-flush list-group-horizontal-md">
        <a class="list-group-item list-group-item-action justify-content-between align-items-center border-0"
           style="cursor: pointer"
           *ngFor="let team of teams; index as i"
           (click)="onTeamSelected(i)"
           [ngClass]="teamSelected === team ? 'team-selected': ''">
          <img [src]="team.logo"> {{team.name}}
        </a>
      </div>
    </div>
  </div>
  <div class="container players-container" *ngIf="isTeamSelected">
    <div class="shadow players-by-position" *ngFor="let playerPosition of playersPosition">
      <h4 class="player-position">{{playerPosition}}S</h4>
      <div class="row player-title-row">
        <div class="col-md-5 player-pick">
          Name
        </div>
        <div class="col-md-3 player-pick">
          Nationality
        </div>
        <div class="col-md-2 player-pick">
          Age
        </div>
        <div class="col-md-2 player-pick">
          Goals
        </div>
      </div>
      <div class="row player-row" *ngFor="let player of getPlayers(playerPosition); index as i">
        <div class="col-md-5 player-pick">
          <img [src]="'https://media.api-sports.io/football/players/'+ player.id_rapid_api +'.png'" alt="player-img"
               class="player-img">
          {{player.first_name}} {{player.last_name}}
        </div>
        <div class="col-md-3 player-pick">
          <img [src]="getFlag(player.nationality)" alt="player-flag" class="player-pick-flag">{{player.nationality}}
        </div>
        <div class="col-md-2 player-pick">
          {{player.age}}
        </div>
        <div class="col-md-2 player-pick">
          {{player.goals}}
        </div>
      </div>
    </div>
  </div>
</div>
