/* Upcoming match */
.upcoming-match .container {
  position: relative;
}

.upcoming-match .container .match-one {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 15px 15px 10px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.upcoming-match .container .match-one .title {
  margin: -15px -15px 20px -15px;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #2ed573;
  color: #fff;
}

.upcoming-match .container .match-one .title p {
  margin: 0;
}

.upcoming-match .container .match-one .first-team, .upcoming-match .container .match-one .second-team {
  display: inline-block;
}

.upcoming-match .container .match-one .divider {
  display: inline-block;
  text-align: center;
  margin: 0 15px;
  vertical-align: top;
  padding-top: 5px;
}

.upcoming-match .container .match-one img {
  height: 48px;
  float: left;
  margin: 0 19px 0 0;
  font-weight: 600;
}

.upcoming-match .container .match-one .name {
  display: inline-block;
  line-height: 48px;
  font-weight: 600;
  margin: 0;
}

/* Nav */
nav {
  background-color: transparent;
  padding: 30px;
  position: relative;
  z-index: 3;
  margin-top: -120px;
  margin-bottom: -120px;
}

.brand {
  line-height: 48px;
  font-weight: 600;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.brand img {
  height: 48px;
  margin: 0 10px 0px 0px;
  width: auto;
}

.brand img path {
  fill: white;
}

.brand:hover, .brand:active {
  color: white;
}

nav li a {
  color: white;
}

nav li a:hover {
  color: #ced6e0;
}

li {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  font-size: 1.1rem;
}

nav li.active a {
  color: #2ed573;
}

nav li a {
  font-weight: bold;
}

/* Home */

#home {
  height: 650px;
  background-image: url('/assets/images/bg-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 60px;
}

#home .main-text {
  margin: 240px 0 0 0;
  font-family: 'Lato', sans-serif;
}

#home .main-text h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

#home .main-text h3 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 45px;
}

#home .main-text a {
  display: inline-block;
  background-color: #2ed573;
  padding: 20px 45px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

/* Pros */

#pros {
  position: relative;
  z-index: 3;
  margin-top: -60px;
}

#pros .pros-one {
  background-color: #fff;
  padding: 20px;
  margin: 0;
  box-shadow: 0 2px 20px -10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#pros .pros-one h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

#pros .pros-one p {
  margin: 0;
}

/* Teams */

#teams {
  padding: 60px 0;
}

#teams .section-title h2 {
  text-align: center;
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 0 0 20px 0;
}

#teams .section-title p {
  text-align: center;
  font-size: 18px;
}

#teams .teams-list {
  list-style: none;
  padding: 0;
  margin: 30px -7.5px 0 -7.5px;
}

#teams .teams-list li {
  display: inline-block;
  width: calc(20% - 16px);
  margin: 15px 7.5px;
  text-align: center;
}

#teams .teams-list li img {
  height: 60px;
  margin: 0 0 15px 0;
}

#teams .teams-list li span {
  display: block;
}

/* Players slider */

#players {
  background-color: #2f3542;
  padding: 60px 120px;
}

#players h2 {
  text-align: center;
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 0 0 45px 0;
  color: #fff;
}

#players .player-one {
  position: relative;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: calc(100% / 6 - 30px);
  display: inline-block;
  margin: 0 15px;
}

#players .player-one .team-image {
  position: absolute;
  width: 54px;
  border: 10px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px -5px #333;
  right: 15px;
}

#players .player-one ..player-image {
  width: 75%;
  margin: 30px auto 0 auto;
  display: block;
}

#players .player-one .name {
  font-weight: 600;
  font-size: 16px;
  height: 80px
}

#players .player-one .name span {
  background-color: #2ed573;
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 15px 0 10px 0;
  font-weight: 600;
  font-size: 14px;
}

/* Footer */

#footer {
  padding: 45px;
}

#footer .footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#footer .footer-menu li {
  display: inline-block;
  margin: 0 15px;
}

#footer .footer-menu li a {
  color: #535c68;
  text-decoration: none;
  border-bottom: 1px dotted #535c68;
}
