<div class="upcoming-match">
  <div class="container">
    <div class="match-one">
      <div class="title">
        <p>Upcoming match</p>
      </div>
      <div class="first-team">
        <img src="https://media.api-sports.io/football/teams/724.png">
        <p class="name">Cadiz</p>
      </div>
      <div class="divider">
        <p>22.01.2021<br/>19:00</p>
      </div>
      <div class="second-team">
        <img src="https://media.api-sports.io/football/teams/539.png">
        <p class="name">Levante</p>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand brand" href="#">
    <img src="assets/images/brand-header.svg" class="d-inline-block align-top" alt="">
    Bet Matches
  </a>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" title="Home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#teams" title="Teams">
          Teams
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#players" title="Top players">
          Top players
        </a>
      </li>

    </ul>
  </div>
</nav>


<section id="home">
  <div class="container">
    <div class="main-text">
      <h1>Bet matches with friends</h1>
      <h3>Best app for betting Primera Division matches</h3>
      <a href="/auth" title="Join now">Start now</a>
    </div>
  </div>
</section>

<section id="pros">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="pros-one">
          <h4>Compete with friends</h4>
          <p>Bet matches in your own leagues of friends. App is completely free to use.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pros-one">
          <h4>AI based prediction algorithm</h4>
          <p>Boost your bet performance and choose wise with our predictions.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pros-one">
          <h4>Statistics history</h4>
          <p>Analyze historical results and follow your favourite players.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="teams">
  <div class="section-title">
    <h2>Teams</h2>
    <p>All teams from major Spain league - Primera Division</p>
  </div>

  <div class="container">
    <ul class="teams-list">
      <li><img src="https://media.api-sports.io/football/teams/529.png"/><span>Barcelona</span></li>
      <li><img src="https://media.api-sports.io/football/teams/530.png"/> <span>Atletico Madrid</span></li>
      <li><img src="https://media.api-sports.io/football/teams/531.png"/> <span>Athletic Club</span></li>
      <li><img src="https://media.api-sports.io/football/teams/532.png"/> <span>Valencia</span></li>
      <li><img src="https://media.api-sports.io/football/teams/533.png"/> <span>Villarreal</span></li>
      <li><img src="https://media.api-sports.io/football/teams/536.png"/> <span>Sevilla</span></li>
      <li><img src="https://media.api-sports.io/football/teams/538.png"/> <span>Celta Vigo</span></li>
      <li><img src="https://media.api-sports.io/football/teams/539.png"/> <span>Levante</span></li>
      <li><img src="https://media.api-sports.io/football/teams/541.png"/> <span>Real Madrid</span></li>
      <li><img src="https://media.api-sports.io/football/teams/542.png"/> <span>Alaves</span></li>
      <li><img src="https://media.api-sports.io/football/teams/543.png"/> <span>Real Betis</span></li>
      <li><img src="https://media.api-sports.io/football/teams/545.png"/> <span>Eibar</span></li>
      <li><img src="https://media.api-sports.io/football/teams/546.png"/> <span>Getafe</span></li>
      <li><img src="https://media.api-sports.io/football/teams/548.png"/> <span>Real Sociedad</span></li>
      <li><img src="https://media.api-sports.io/football/teams/715.png"/> <span>Granada CF</span></li>
      <li><img src="https://media.api-sports.io/football/teams/720.png"/> <span>Valladolid</span></li>
      <li><img src="https://media.api-sports.io/football/teams/724.png"/> <span>Cadiz</span></li>
      <li><img src="https://media.api-sports.io/football/teams/726.png"/> <span>Huesca</span></li>
      <li><img src="https://media.api-sports.io/football/teams/727.png"/> <span>Osasuna</span></li>
      <li><img src="https://media.api-sports.io/football/teams/797.png"/> <span>Elche</span></li>
    </ul>
  </div>
</section>

<section id="upcmoing-matches">
  <div class="">

  </div>
</section>

<section id="players">
  <div class="section-title">
    <h2>Top players</h2>
  </div>

  <div class="players-slider">
    <div class="player-one">
      <img class="team-image" src="https://media.api-sports.io/football/teams/529.png"/>
      <img class="player-image" src="https://media.api-sports.io/football/players/154.png"/>
      <p class="name"><span class="position">ATTACKER</span>Lionel Andrés Messi Cuccittini </p>
      <p class="stats">Goals <strong>11</strong></p>
    </div>

    <div class="player-one">
      <img class="team-image" src="https://media.api-sports.io/football/teams/533.png"/>
      <img class="player-image" src="https://media.api-sports.io/football/players/1707.png"/>
      <p class="name"><span class="position">ATTACKER</span>Gerard Moreno Balaguero</p>
      <p class="stats">Goals <strong>10</strong></p>
    </div>

    <div class="player-one">
      <img class="team-image" src="https://media.api-sports.io/football/teams/530.png"/>
      <img class="player-image" src="https://media.api-sports.io/football/players/157.png"/>
      <p class="name"><span class="position">ATTACKER</span>Luis Alberto Suárez Díaz</p>
      <p class="stats">Goals <strong>9</strong></p>
    </div>

    <div class="player-one">
      <img class="team-image" src="https://media.api-sports.io/football/teams/538.png"/>
      <img class="player-image" src="https://media.api-sports.io/football/players/47445.png"/>
      <p class="name"><span class="position">ATTACKER</span>Iago Aspas Juncal</p>
      <p class="stats">Goals <strong>9</strong></p>
    </div>

    <div class="player-one">
      <img class="team-image" src="https://media.api-sports.io/football/teams/536.png"/>
      <img class="player-image" src="https://media.api-sports.io/football/players/47422.png"/>
      <p class="name"><span class="position">ATTACKER</span>Youssef En-Nesyri</p>
      <p class="stats">Goals <strong>8</strong></p>
    </div>

    <div class="player-one">
      <img class="team-image" src="https://media.api-sports.io/football/teams/541.png"/>
      <img class="player-image" src="https://media.api-sports.io/football/players/759.png"/>
      <p class="name"><span class="position">ATTACKER</span>Karim Benzema</p>
      <p class="stats">Goals <strong>8</strong></p>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <ul class="footer-menu">
      <li>
        <a href="">
          Rules
        </a>
      </li>
      <li>
        <a href="">
          Help
        </a>
      </li>
      <li>
        <a href="">
          Privacy
        </a>
      </li>
    </ul>
  </div>
</footer>
