<div class="leagues-list-container" *ngIf="!isFetching">
  <button type="button"
          class="shadow league-box" *ngFor="let league of leagues"
          (click)="onLeagueSelected(league)"
          [ngClass]="selectedLeague.id === league.id ? 'selected-league': ''">

    <img src="../../../assets/images/league-cup.svg" alt="league-cup" class="league-image">
    <h2>{{league.name}}</h2>
  </button>
</div>
