<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container shadow main">
      <form [formGroup]="joinLeagueForm" class="join-league-form" (ngSubmit)="onSubmit()">
        <h1 class="font-weight-bold">Join League!</h1>
        <div class="form-group">
          <label for="name">League name</label><input
          type="text"
          id="name"
          placeholder="Enter league name!"
          formControlName="name"
          class="form-control">
          <span
            *ngIf="!joinLeagueForm.get('name').valid && joinLeagueForm.get('name').touched"
            class="help-block">
              <span *ngIf="joinLeagueForm.get('name').errors['required']">This field is required!</span>
          </span>

        </div>
        <div class="form-group">
          <label for="name">League code</label><input
          type="number"
          id="leagueId"
          placeholder="Please, enter league code!"
          formControlName="leagueId"
          pattern="^[1-9]+[0-9]*$"
          class="form-control">
          <span
            *ngIf="!joinLeagueForm.get('leagueId').valid && joinLeagueForm.get('leagueId').touched"
            class="help-block">
              <span *ngIf="joinLeagueForm.get('leagueId').errors['required']">This field is required!</span>
          </span>
        </div>
        <button class="btn join-btn" type="submit" [disabled]="!joinLeagueForm.valid">Join!</button>
      </form>
    </div>
  </div>
</div>
