/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.main {
  background-color: #ffffff;
  margin-top: 2rem;
  width: 50%;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: 120% 45%;
  background-size: 45%;
  background-image: url('../../../assets/images/league-cup.svg');
}

input, button {
  width: 60%;
}


input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.join-league-form {
  width: 100%;
  padding: 2rem 1.5rem;
}

.join-btn {
  margin: 1.5rem 0px 0px 0px;
  background: #2ed573;
  display: inline-block;
  position: relative;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  z-index: 0;
  border-radius: 5px;
  font-size: 20px;
}

.join-btn:hover {
  font-weight: 800;
}
